<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.codekiller.com.shavanti">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.Main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.JokeMore.MoreJokeActivity"
            android:theme="@style/LaifudaoTheme" />
        <activity
            android:name=".UI.FunnyPicMore.MoreFunnyPicActivity"
            android:theme="@style/LaifudaoTheme" />
        <activity
            android:name=".UI.OneArticle.OneArticleActivity"
            android:theme="@style/OneTheme" />
        <activity
            android:name=".UI.ImageView.ZoomableViewActivity"
            android:theme="@style/AppTheme.JustNoActionBar" />
        <activity
            android:name=".UI.ImageView.MultiImageActivity"
            android:theme="@style/AppTheme.JustNoActionBar" />
        <activity
            android:name=".UI.JuheNewsDetail.JuheNewsDetailActivity"
            android:theme="@style/JuheNewsTheme" />
        <activity android:name=".UI.SimpleNews.NewsMainActivity"
            android:theme="@style/JuheNewsTheme"/>
    </application>

</manifest>